<style type="text/css">
   body { background-color: #D8D8D8; }
</style>

<hr>
      <div class="jumbotron">
        <FONT size = "20">What exactly is ChengBo Blog?</FONT>
        <p></p>
    </div>
 </hr>
